In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("sample.pickle")

In [3]:
df

,gameCreation,gameDuration,gameId,gameVersion,participants
0,1.585155e+12,1323.0,4.247263e+09,10.6.314.4405,"[{'participantId': 1, 'teamId': 100, 'champion..."
1,1.585152e+12,1317.0,4.247156e+09,10.6.314.4405,"[{'participantId': 1, 'teamId': 100, 'champion..."
2,1.585059e+12,932.0,4.243963e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
3,1.584978e+12,2098.0,4.241678e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
4,1.584973e+12,2344.0,4.241539e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
5,1.584970e+12,1567.0,4.241394e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
6,1.584732e+12,1686.0,4.233222e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
7,1.584728e+12,1588.0,4.233114e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
8,1.584683e+12,1618.0,4.231101e+09,10.6.313.8894,"[{'participantId': 1, 'teamId': 100, 'champion..."
9,1.584617e+12,1126.0,4.229230e+09,10.6.313.2784,"[{'participantId': 1, 'teamId': 100, 'champion..."

In [6]:
d = df.loc[0,"participants"]

In [9]:
one_participant = d[0]

In [16]:
one_participant

{'participantId': 1,
 'teamId': 100,
 'championId': 7,
 'spell1Id': 1,
 'spell2Id': 4,
 'stats': {'participantId': 1,
  'win': False,
  'item0': 2033,
  'item1': 3285,
  'item2': 3108,
  'item3': 1082,
  'item4': 3020,
  'item5': 2055,
  'item6': 3364,
  'kills': 3,
  'deaths': 6,
  'assists': 3,
  'largestKillingSpree': 2,
  'largestMultiKill': 1,
  'killingSprees': 1,
  'longestTimeSpentLiving': 564,
  'doubleKills': 0,
  'tripleKills': 0,
  'quadraKills': 0,
  'pentaKills': 0,
  'unrealKills': 0,
  'totalDamageDealt': 71369,
  'magicDamageDealt': 56332,
  'physicalDamageDealt': 13037,
  'trueDamageDealt': 1999,
  'largestCriticalStrike': 0,
  'totalDamageDealtToChampions': 10844,
  'magicDamageDealtToChampions': 8926,
  'physicalDamageDealtToChampions': 1918,
  'trueDamageDealtToChampions': 0,
  'totalHeal': 4006,
  'totalUnitsHealed': 1,
  'damageSelfMitigated': 6742,
  'damageDealtToObjectives': 1055,
  'damageDealtToTurrets': 1008,
  'visionScore': 14,
  'timeCCingOthers': 12,
  'totalDamageTaken': 17255,
  'magicalDamageTaken': 5282,
  'physicalDamageTaken': 11203,
  'trueDamageTaken': 770,
  'goldEarned': 6844,
  'goldSpent': 6710,
  'turretKills': 0,
  'inhibitorKills': 0,
  'totalMinionsKilled': 133,
  'neutralMinionsKilled': 0,
  'neutralMinionsKilledTeamJungle': 0,
  'neutralMinionsKilledEnemyJungle': 0,
  'totalTimeCrowdControlDealt': 19,
  'champLevel': 12,
  'visionWardsBoughtInGame': 3,
  'sightWardsBoughtInGame': 0,
  'wardsPlaced': 6,
  'wardsKilled': 1,
  'firstBloodKill': True,
  'firstBloodAssist': False,
  'firstTowerKill': False,
  'firstTowerAssist': False,
  'firstInhibitorKill': False,
  'firstInhibitorAssist': False,
  'combatPlayerScore': 0,
  'objectivePlayerScore': 0,
  'totalPlayerScore': 0,
  'totalScoreRank': 0,
  'playerScore0': 0,
  'playerScore1': 0,
  'playerScore2': 0,
  'playerScore3': 0,
  'playerScore4': 0,
  'playerScore5': 0,
  'playerScore6': 0,
  'playerScore7': 0,
  'playerScore8': 0,
  'playerScore9': 0,
  'perk0': 8112,
  'perk0Var1': 735,
  'perk0Var2': 0,
  'perk0Var3': 0,
  'perk1': 8139,
  'perk1Var1': 664,
  'perk1Var2': 0,
  'perk1Var3': 0,
  'perk2': 8138,
  'perk2Var1': 12,
  'perk2Var2': 0,
  'perk2Var3': 0,
  'perk3': 8135,
  'perk3Var1': 1652,
  'perk3Var2': 3,
  'perk3Var3': 0,
  'perk4': 8316,
  'perk4Var1': 2016,
  'perk4Var2': 0,
  'perk4Var3': 0,
  'perk5': 8352,
  'perk5Var1': 288,
  'perk5Var2': 1854,
  'perk5Var3': 984,
  'perkPrimaryStyle': 8100,
  'perkSubStyle': 8300,
  'statPerk0': 5005,
  'statPerk1': 5008,
  'statPerk2': 5003},
 'timeline': {'participantId': 1,
  'creepsPerMinDeltas': {'10-20': 6.199999999999999, '0-10': 6.1},
  'xpPerMinDeltas': {'10-20': 473.5, '0-10': 386.6},
  'goldPerMinDeltas': {'10-20': 277, '0-10': 315.6},
  'damageTakenPerMinDeltas': {'10-20': 906, '0-10': 473.79999999999995},
  'role': 'DUO_CARRY',
  'lane': 'MIDDLE'}}

In [15]:
keys_to_keep = ["participantId"]
{key: value for key, value in one_participant.items() if key in keys_to_keep}

{'participantId': 1}

In [36]:
d = df.loc[0,"participants"]

def parse_participant(participant_dict):
    keys_to_keep = ["participantId",'teamId','championId','spell1Id','spell2Id']
    stats_keys = (['win',"item0", "item1","item2","item3","item4","item5","item6", "kills", "deaths", "assists",
                  "doubleKills", "tripleKills", "quadraKills", "pentaKills", "goldEarned","role", "lane"])
    e = {}
    for key, value in participant_dict.items():
        if key in keys_to_keep:
            e[key] = value
        elif type(value) == dict:
            for key2, value2 in value.items():
                if key2 in stats_keys:
                    e[key2] = value2
                    
    return e

[parse_participant(part) for part in d]

In [37]:
parse_participant(d[1])

{'participantId': 2, 'stats_item0': 3114}

In [41]:
[parse_participant(part) for part in d]

[{'participantId': 1, 'stats_item0': 2033},
 {'participantId': 2, 'stats_item0': 3114},
 {'participantId': 3, 'stats_item0': 1054},
 {'participantId': 4, 'stats_item0': 3152},
 {'participantId': 5, 'stats_item0': 2033},
 {'participantId': 6, 'stats_item0': 3864},
 {'participantId': 7, 'stats_item0': 3140},
 {'participantId': 8, 'stats_item0': 2033},
 {'participantId': 9, 'stats_item0': 3146},
 {'participantId': 10, 'stats_item0': 0}]

In [39]:
pd.json_normalize([parse_participant(part) for part in d])

   participantId  stats_item0
0              1         2033
1              2         3114
2              3         1054
3              4         3152
4              5         2033
5              6         3864
6              7         3140
7              8         2033
8              9         3146
9             10            0

In [43]:
pd.json_normalize(d)

,participantId,teamId,championId,spell1Id,spell2Id,stats.participantId,stats.win,stats.item0,stats.item1,stats.item2,...,timeline.damageTakenPerMinDeltas.10-20,timeline.damageTakenPerMinDeltas.0-10,timeline.role,timeline.lane,timeline.csDiffPerMinDeltas.10-20,timeline.csDiffPerMinDeltas.0-10,timeline.xpDiffPerMinDeltas.10-20,timeline.xpDiffPerMinDeltas.0-10,timeline.damageTakenDiffPerMinDeltas.10-20,timeline.damageTakenDiffPerMinDeltas.0-10
0,1,100,7,1,4,1,False,2033,3285,3108,...,906.0,473.8,DUO_CARRY,MIDDLE,NaN,NaN,NaN,NaN,NaN,NaN
1,2,100,350,3,7,2,False,3114,3853,0,...,411.4,244.6,DUO_SUPPORT,MIDDLE,NaN,NaN,NaN,NaN,NaN,NaN
2,3,100,266,4,12,3,False,1054,3155,2031,...,1328.8,348.4,SOLO,TOP,-2.6,-1.0,-88.9,-1.3,-13.0,-52.4
3,4,100,517,4,11,4,False,3152,1414,1082,...,1378.2,800.2,NONE,JUNGLE,0.1,-0.6,-217.4,34.2,-38.6,173.4
4,5,100,110,4,21,5,False,2033,3142,3814,...,958.4,503.6,SOLO,BOTTOM,NaN,NaN,NaN,NaN,NaN,NaN
5,6,200,235,1,4,6,True,3864,3094,1036,...,601.0,390.5,DUO_SUPPORT,BOTTOM,NaN,NaN,NaN,NaN,NaN,NaN
6,7,200,81,7,4,7,True,3140,0,3025,...,604.4,400.2,DUO_CARRY,BOTTOM,NaN,NaN,NaN,NaN,NaN,NaN
7,8,200,127,4,12,8,True,2033,3285,3165,...,643.7,415.9,SOLO,MIDDLE,NaN,NaN,NaN,NaN,NaN,NaN
8,9,200,84,4,12,9,True,3146,2055,0,...,1341.8,400.8,SOLO,TOP,2.6,1.0,88.9,1.3,13.0,52.4
9,10,200,421,11,4,10,True,0,2031,0,...,1416.8,626.8,NONE,JUNGLE,-0.1,0.6,217.4,-34.2,38.6,-173.4

In [53]:
pd.json_normalize(d[0]).columns

Index(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id',
       'stats.participantId', 'stats.win', 'stats.item0', 'stats.item1',
       'stats.item2',
       ...
       'timeline.creepsPerMinDeltas.10-20', 'timeline.creepsPerMinDeltas.0-10',
       'timeline.xpPerMinDeltas.10-20', 'timeline.xpPerMinDeltas.0-10',
       'timeline.goldPerMinDeltas.10-20', 'timeline.goldPerMinDeltas.0-10',
       'timeline.damageTakenPerMinDeltas.10-20',
       'timeline.damageTakenPerMinDeltas.0-10', 'timeline.role',
       'timeline.lane'],
      dtype='object', length=120)

In [54]:
df_flat = pd.DataFrame(columns=pd.json_normalize(d[0]).columns)

In [70]:
df_flat = pd.DataFrame(columns=pd.json_normalize(d[0]).columns)
for row in df["participants"]:
    df_flat = pd.concat([df_flat,pd.json_normalize(row)])

In [71]:
df_flat

,participantId,teamId,championId,spell1Id,spell2Id,stats.participantId,stats.win,stats.item0,stats.item1,stats.item2,...,timeline.xpDiffPerMinDeltas.20-30,timeline.damageTakenPerMinDeltas.20-30,timeline.damageTakenDiffPerMinDeltas.20-30,timeline.creepsPerMinDeltas.30-end,timeline.xpPerMinDeltas.30-end,timeline.goldPerMinDeltas.30-end,timeline.csDiffPerMinDeltas.30-end,timeline.xpDiffPerMinDeltas.30-end,timeline.damageTakenPerMinDeltas.30-end,timeline.damageTakenDiffPerMinDeltas.30-end
0,1,100,7,1,4,1,False,2033,3285,3108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,100,350,3,7,2,False,3114,3853,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,100,266,4,12,3,False,1054,3155,2031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,100,517,4,11,4,False,3152,1414,1082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,100,110,4,21,5,False,2033,3142,3814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,6,200,9,14,4,6,False,3157,3851,2055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,200,2,12,4,7,False,2055,1037,3071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,200,154,11,4,8,False,3111,1401,3211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,200,245,4,12,9,False,3145,2033,3285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,200,21,7,4,10,False,3508,2031,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_new = pd.DataFrame(columns=list(pd.json_normalize(d[0]).columns) + ["gameId"])
for idx, row in df.iterrows():
    # get the gameID
    game_id = row["gameId"]
    
    # normalize participants
    df_row = pd.json_normalize(row["participants"])
    
    # add gameId as new column
    df_row = df_row.assign(gameId=game_id)
    
    # append df_new
    df_new = pd.concat([df_new,df_row])

In [97]:
df_new["gameId"]

0    4.247263e+09
1    4.247263e+09
2    4.247263e+09
3    4.247263e+09
4    4.247263e+09
         ...
5    4.229230e+09
6    4.229230e+09
7    4.229230e+09
8    4.229230e+09
9    4.229230e+09
Name: gameId, Length: 100, dtype: float64

In [68]:
df_flat_filtered = pd.DataFrame(columns=pd.json_normalize(parse_participant(d[0])).columns)
for row in df["participants"]:
    filtered_row_filtered = [parse_participant(r) for r in row]
    df_flat_filtered = pd.concat([df_flat_filtered,pd.json_normalize(filtered_row)])

In [69]:
df_flat_filtered

   participantId stats_item0
0              1        2031
1              2        3853
2              3        1056
3              4           0
4              5        2031
..           ...         ...
5              6        3157
6              7        2055
7              8        3111
8              9        3145
9             10        3508

[100 rows x 2 columns]